@font-face {
    font-family: mainFont;
    src: url(settings/SFUIText-Regular.ttf)
}

$mainColor: #3a5ca9;
$secondaryColor: #fff;
$backgroundColor: #e6e8ec;
$borderColor: #cccccc;



ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
