.header {
    width: 100%;
    height: 10rem;
    background: $mainColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__logo {
        width: 101rem;
        height: 60px;
        // background: #2dbcf596;
         display: flex;
         justify-content: space-between;
        // margin: auto;
    }
    &__logo__div__left{
        width: 50rem;
        height: 5rem;
        // background-color: green;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo__icon{
        width: 2.5rem;
        height: 2.5rem;
        // background-color: aquamarine;
        display: flex;
        align-items: center;
    }
    &__logo__input{
        width: 42rem;
        height: 2.5rem;
        background-color: white;
        margin-right: -1rem;
        border: none;
    }
    &__logo__search{
        width: 4.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content:center;
        background-color: #f5f6f7;
    }
    &__logo__div__right{
     width: 45rem;
     height: 5rem;
    //  background-color: red;
     display: flex;
     align-items: center;
    //  margin-left: -200px;

    }
    &__logo__div__right__list{
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: white;
    }
    &__logo__div__right__list i{
        color: black;
        font-size: 2rem;
    }
    &__logo__div__right__list__item{
        margin-left: 1.5rem;
    }
    &__logo__div__right__list__pic{
        width:2.5rem;
        height: 2.5rem;
        background-color: blue;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    &__whitec{
        background-color: white;
        width: 1.5rem;
        height: 1.5rem;
        display: block;
        border-radius: 50%
    }
}
.Navigation{
    height: 5rem;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;

    &__list{
        width: 105.5rem;
        height: 4.5rem;
        // margin: auto;
        // background-color: green;
        display: flex;
       justify-content: space-between;

    }
    &__list__left{
        width: 69rem;
        height: 4.5rem;
        // background-color: aqua;
        display: flex;
        align-items: center;
        margin-left: 15px;
    }
    &__list__left__list{
        list-style: none;
        display: flex;
        font-size: 1.8rem;
        color: black;
    }
    &__list__left__list__item{
        margin-left: 1.5rem;
        font-size: 1rem;
    }
    &__list__right{
        width: 18rem;
        height: 4.5rem;
        // background-color: blue;
        display: flex;
        align-items: center;
        // justify-content: flex-end;
        // margin-right: 220px;
    }
    &__list__right i {
     font-size: 1rem;
    }
}