body {
    background: $backgroundColor;
}

.main {
    width: 50%;
    height: calc(100vh - 80px);
    background: $secondaryColor;
    margin: 0 auto;
    // display: flex;
    // flex-direction: row;
    .leftSidebar {
        width: 30%;
        height: 100%;
        background: powderblue;
    }
    .cover {
        display: block;
        width: 30%;
        height: 100%;
        background: blue;
    }
}