@font-face {
  font-family: mainFont;
  src: url(settings/SFUIText-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Navigation__list__left__list a {
  color: black;
}

html {
  font-size: 10px;
}

body {
  font-family: mainFont, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 10rem;
  background: #3a5ca9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 101rem;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo__div__left {
  width: 50rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo__icon {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo__icon {
  font-size: 2.4rem;
  color: white;
}

.header__logo__icon a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
  color: white;
}

.header__logo__input {
  width: 42rem;
  height: 2.5rem;
  background-color: white;
  margin-right: -1rem;
  border: none;
}

.header__logo__search {
  width: 4.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f6f7;
}

.header__logo__search i {
  font-size: 2.4rem;
  color: #979ba4;
}

.header__logo__div__right {
  width: 45rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo__div__right a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
  color: white;
}

.header__logo__div__right__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: white;
}

.header__logo__div__right__list i {
  color: black;
  font-size: 2rem;
}

.header__logo__div__right__list__item {
  margin-left: 1.5rem;
}

.header__logo__div__right__list__pic {
  width: 2.5rem;
  height: 2.5rem;
  background-color: blue;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__whitec {
  background-color: white;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  border-radius: 50%;
}

.Navigation {
  height: 5rem;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Navigation__list {
  width: 105.5rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Navigation__list a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
}

.Navigation__list__left {
  width: 69rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.Navigation__list__left__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  color: black;
}

.Navigation__list__left__list__item {
  margin-left: 1.5rem;
  font-size: 1.4rem;
  height: 4.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navigation__list__left__list__item:hover {
  border-bottom: 0.1rem solid #4080ff;
}

.Navigation__list__right {
  width: 18rem;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navigation__list__right i {
  font-size: 1rem;
}

body {
  background: #e6e8ec;
}

.main {
  width: 100%;
  height: calc(100vh - 80px);
  background: #e6e8ec;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .leftSidebar {
  width: 20%;
  height: 100%;
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main .leftSidebar .leftSidebar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .leftSidebar .leftSidebar__container .dellLogo {
  width: 185px;
  height: 185px;
}

.main .leftSidebar .leftSidebar__container .logo__description {
  font-size: 1.8rem;
  font-weight: bold;
}

.main .leftSidebar .leftSidebar__container .logo__description .logo__description__extended {
  font-size: 1.2rem;
  font-weight: normal;
}

.main .leftSidebar .leftSidebar__container .list {
  margin-top: 10px;
}

.main .leftSidebar .leftSidebar__container .list .listItem {
  width: 100%;
  font-size: 1.4rem;
}

.main .leftSidebar .leftSidebar__container .list .listItem .listItemA {
  display: block;
  color: #000;
  width: 100%;
  padding: 0.4em;
}

.main .leftSidebar .leftSidebar__container .list .listItem .listItemA:focus {
  background: white;
}

.main .mainInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .mainInfoContainer .coverFoto {
  width: 821px;
  height: 306px;
  background-color: #273e6a;
  overflow: hidden;
  border: 1px solid #dddfe2;
  border-bottom: none;
}

.main .mainInfoContainer .coverButtonsdiv {
  width: 821px;
  height: 56px;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #ffffff;
  border: 1px solid #dddfe2;
  border-top: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper .leftCoverButtonsdiv {
  width: 248px;
  height: 28px;
  border-radius: 3px;
  border: 1px solid #dddfe2;
  background-color: #f5f6f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper .leftCoverButtonsdiv .leftCoverButton:last-child {
  border-right: 0;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper .leftCoverButtonsdiv .leftCoverButton {
  border-right: 1px solid #dddfe2;
  width: auto;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper .leftCoverButtonsdiv .leftCoverButton a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper .leftCoverButtonsdiv .leftCoverButton span {
  font-size: 13px;
  line-height: 25px;
  color: #7f7f7f;
  font-family: "S FU IText";
  padding: 0 0.55em;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper .rightCoverButtonsdiv {
  padding: 0 10px;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper .rightCoverButtonsdiv .rightCoverButton {
  width: 289px;
  height: 28px;
  border-radius: 2px;
  background-color: #4080ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .mainInfoContainer .coverButtonsdiv .coverButtonsWrapper .rightCoverButtonsdiv a {
  -webkit-text-emphasis: none;
          text-emphasis: none;
  text-decoration: none;
}

.main .mainInfoContainer .pageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .mainInfoContainer .pageContent .postsArea {
  width: 500px;
  height: 157px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #dddfe2;
  margin-right: 6.5px;
}

.main .mainInfoContainer .pageContent .postsArea .createPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .mainInfoContainer .pageContent .postsArea .createPost .writePost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .mainInfoContainer .pageContent .postsArea .createPost .textArea {
  font-size: 15px;
  line-height: 25px;
  color: #a4a8ae !important;
  font-family: "S FU IText";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .mainInfoContainer .pageContent .postsArea .createPost .addObject {
  background-color: yellow;
  height: 50px;
}

.main .mainInfoContainer .pageContent .postsArea .posts {
  border: 2px solid black;
  height: 120px;
  margin: 20px 0;
}

.main .mainInfoContainer .pageContent .postsArea .posts .post {
  height: 50px;
  background-color: black;
  margin: 4px 0;
}

.main .mainInfoContainer .pageContent .otherpageinfo {
  background-color: blue;
  width: 308px;
  height: 300px;
  margin-left: 6.5px;
}

.rightSidebar {
  position: absolute;
  right: 0;
  top: 100px;
  height: calc(100vh - 80px);
  width: 200px;
  background: cyan;
}
/*# sourceMappingURL=index.css.map */